//colors
$darkBlack: #111117;
$black: #1d2528;
$lightBlack: #434747;
$green: #048383;
$lightGreen: #dcebee;
$white: #fff;
$darkWhite: #e7eee9;
$gray: #21333e;
$lightGray: #bcbdbd;

//variabili layout
$fontExtraSmall: 10px;
$fontSmall: 12px;
